This project uses tasks to talk to kubernetes and vault and portworx backup
purepx is used to talk to the portworx backup api
this code will be run from ansible-runner and will be executed on the target system
the execution environment is defined in the execution-environment.yml
the container runtime is defined in the execution-environment.yml and should be set to docker
images used can be centos streamor fedora stream
Ansible Navigator can be run using docker
Ansible: Use collections and roles from collections/ and roles/
Ansible: Use inventory from inventory/
Ansible: Use FQCN for builtin module actions
Ansible: Use purepx module from purepx/
Ansible: Use purepx collection from collections/
