[defaults]
# Specify the inventory file
inventory = inventory/hosts.yml

# # (pathspec) Colon-separated paths in which Ansible will search for Roles.
roles_path = ./roles:/usr/share/ansible/roles:/etc/ansible/roles

# # (pathspec) Colon-separated paths in which Ansible will search for Modules.
library = ./library:/usr/share/ansible/plugins/modules

# # (boolean) Enables/disables the cleaning up of the temporary files Ansible used to execute the tasks on the remote.
# # If this option is enabled it will disable ``ANSIBLE_PIPELINING``.
# keep_remote_files=False

# # (string) Sets the macro for the 'ansible_managed' variable available for :ref:`ansible_collections.ansible.builtin.template_module` and :ref:`ansible_collections.ansible.windows.win_template_module`.  This is only relevant to those two modules.
ansible_managed = Ansible managed: {file} modified by {uid} on {host}

# # (string) Chooses which cache plugin to use, the default 'memory' is ephemeral.
fact_caching = jsonfile

# # (string) Defines connection or path information for the cache plugin.
fact_caching_connection = tmp/facts_cache

# # (integer) Expiration timeout for the cache plugin data.
fact_caching_timeout = 3400

# # (boolean) Set this to "False" if you want to avoid host key checking by the underlying connection plugin Ansible uses to connect to the host.
# # Please read the documentation of the specific connection plugin used for details.
host_key_checking = False

# # (boolean) Toggle to control the showing of deprecation warnings
deprecation_warnings = False

# # (bool) This controls whether a failed Ansible playbook should create a .retry file.
# retry_files_enabled=False

# # (string) Temporary directory to use on targets when executing tasks.
remote_tmp=~/.ansible/tmp

# # (tmppath) Temporary directory for Ansible to use on the controller.
local_tmp=~/.ansible/tmp

# # (integer) This is the default timeout for connection plugins to use.
timeout=10

# # (boolean) Enables/disables the cleaning up of the temporary files Ansible used to execute the tasks on the remote.
# # If this option is enabled it will disable ``ANSIBLE_PIPELINING``.
# keep_remote_files=False

# # (boolean) Controls whether callback plugins are loaded when running /usr/bin/ansible. This may be used to log activity from the command line, send notifications, and so on. Callback plugins are always loaded for ``ansible-playbook``.
# # bin_ansible_callbacks=False
bin_ansible_callbacks = True

# # (pathspec) Colon-separated paths in which Ansible will search for Cache Plugins.
callback_plugins=./callback_plugins/

# # (bool) Configure the result format to be more readable.
# # When O(result_format) is set to V(yaml) this option defaults to V(true), and defaults to V(false) when configured to V(json).
# # Setting this option to V(true) will force V(json) and V(yaml) results to always be pretty printed regardless of verbosity.
# # When set to V(true) and used with the V(yaml) result format, this option will modify module responses in an attempt to produce a more human friendly output at the expense of correctness, and should not be relied upon to aid in writing variable manipulations or conditionals. For correctness, set this option to V(false) or set O(result_format) to V(json).
# callback_format_pretty=

# # (str) Define the task result format used in the callback output.
# # These formats do not cause the callback to emit valid JSON or YAML formats.
# # The output contains these formats interspersed with other non-machine parsable data.
# callback_result_format=json

# # (list) List of enabled callbacks, not all callbacks need enabling, but many of those shipped with Ansible do as we don't want them activated by default.
callbacks_enabled=debug,unixy

# # See :ref:`callback_plugins` for a list of available options.
stdout_callback=debug
# stdout_callback=unixy

# # (string) When a collection is loaded that does not support the running Ansible version (with the collection metadata key `requires_ansible`).
collections_on_ansible_version_mismatch=warning

# # (pathspec) Colon-separated paths in which Ansible will search for collections content. Collections must be in nested *subdirectories*, not directly in these directories. For example, if ``COLLECTIONS_PATHS`` includes ``'{{ ANSIBLE_HOME ~ "/collections" }}'``, and you want to add ``my.collection`` to that directory, it must be saved as ``'{{ ANSIBLE_HOME} ~ "/collections/ansible_collections/my/collection" }}'``.
collections_path=./collections:/usr/share/ansible/collections:/etc/ansible/collections

# # (boolean) A boolean to enable or disable scanning the sys.path for installed collections.
# ;collections_scan_sys_path=True

# # (boolean) Normally ``ansible-playbook`` will print a header for each task that is run. These headers will contain the name: field from the task if you specified one. If you didn't then ``ansible-playbook`` uses the task's action to help you tell which task is presently running. Sometimes you run many of the same action and so you want more information about the task to differentiate it from others of the same action. If you set this variable to True in the config then ``ansible-playbook`` will also include the task's arguments in the header.
# # This setting defaults to False because there is a chance that you have sensitive values in your parameters and you do not want those to be printed.
# # If you set this to True you should be sure that you have secured your environment's stdout (no one can shoulder surf your screen and you aren't saving stdout to an insecure file) or made sure that all of your playbooks explicitly added the ``no_log: True`` parameter to tasks that have sensitive values :ref:`keep_secret_data` for more information.
# ;display_args_to_stdout=False

# # (boolean) Toggle Ansible's display and logging of task details, mainly used to avoid security disclosures.
# ;no_log=False

[privilege_escalation]
# (string) Privilege escalation method to use when `become` is enabled.
become_method=sudo

[paramiko_connection]
# (boolean) Save the host keys to a file
;record_host_keys=True
record_host_keys=False

[persistent_connection]
# (integer) This controls how long the persistent connection will remain idle before it is destroyed.
connect_timeout=30
command_timeout=60

[ssh_connection]
# (integer) Number of attempts to connect.
# Ansible retries connections only if it gets an SSH error with a return code of 255.
# Any errors with return codes other than 255 indicate an issue with program execution.
;retries=0
retries = 8