# requirements.txt
appdirs
cachetools
certifi
filelock
click
click-help-colors
kubernetes
oauthlib
pick
pip
python-dateutil
pyvmomi
requests
requests-oauthlib
urllib3
websocket-client
setuptools
wheel
pytest>=7.0.0
black>=23.0.0
flake8>=6.0.0
mypy>=1.0.0
## The following requirements were added by pip freeze:
aiohttp
ansible-builder
ansible-creator
ansible-dev-environment
ansible-dev-tools
ansible-navigator
ansible-runner
ansible-sign
ansible-compat
ansible-core
ansible-lint
hvac
boto3
Jinja2
tox
tox-ansible
virtualenv
