{
  "bound_service_account_names": ["px-vault-auth"],
  "bound_service_account_namespaces": ["{{ px_namespace }}"],
  "policies": ["portworx"],
  "ttl": "24h",
  "max_ttl": "48h",
  "token_type": "default"
}
